In [1]:
import pandas as pd

In [4]:
arima_res = pd.read_csv("arima_results.csv")

In [5]:
lstm_res = pd.read_csv("lstm_results.csv")

In [6]:
cnn_res = pd.read_csv("cnn_results.csv")

In [7]:
cnn_lstm_res = pd.read_csv("cnn_lstm_results.csv")

In [18]:
arima_res[arima_res["TYPE"] == "MAPE"].groupby(["COMPANY", "TYPE"]).mean()

                 ERROR
COMPANY TYPE
AAPL    MAPE  0.008992
AMZN    MAPE  0.010060
FB      MAPE  0.010063
GOOG    MAPE  0.008343
MSFT    MAPE  0.007961

In [19]:
lstm_res[lstm_res["TYPE"] == "MAPE"].groupby(["COMPANY", "TYPE"]).mean()

                 ERROR
COMPANY TYPE
AAPL    MAPE  0.014676
AMZN    MAPE  0.032919
FB      MAPE  0.021138
GOOG    MAPE  0.013652
MSFT    MAPE  0.019855